/* Declaración de la fuente local */
@font-face {
    font-family: 'Gentium Basic';
    src: url('fonts/GentiumPlus/GentiumPlus-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  /* Aplicar la fuente al cuerpo*/
  h1 {
      font-family: 'Gentium Basic', serif;
      font-size: 32px; /* Adjusted font size */
  }
  
  h2 {
      font-family: Arial;
      font-size: 24px; /* Adjusted font size */
  }