/* General */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    background-color: #FFFFFF;
}

/* Apply box-sizing to all elements */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Barra lateral */
.sidebar {
    background-color: ##333;
    color: #fff;
    width: 250px;
    height: 100vh;
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    margin-bottom: 15px;
}

.sidebar nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.sidebar nav ul li a:hover {
    text-decoration: underline;
}

/* Contenido principal */
.main-content {
    margin-left: 270px;
    padding: 20px;
    box-sizing: border-box;
}

/* Header */
header {
    text-align: center;
    margin-bottom: 30px;
}

header .logo {
    width: 100%;
    height: auto; /* Adjust height to auto for responsiveness */
    max-height: 380px; /* Set a max height */
    object-fit: cover; /* Ensure the image covers the space */
    margin: 0;
    padding: 0;
}

header h1 {
    font-size: 2.5rem;
    margin: 0;
}

header p {
    font-size: 1.2rem;
    color: #555;
}

/* Secciones */
.about,
.changelog {
    margin-bottom: 30px;
}

.about h2,
.changelog h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.about p,
.changelog p {
    font-size: 1rem;
    color: #333;
}

.about a {
    color: #007BFF;
    text-decoration: none;
}

.about a:hover {
    text-decoration: underline;
}

.changelog h3 {
    font-size: 1.5rem;
    margin-bottom: 5px;
}
