<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WikiRafa</title>
    <!-- Favicon -->
    <link rel="icon" href="../img/Imagenes/Logotipo_circular.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <div class="sidebar">
        <h1>WikiRafa Oficial</h1>
        <nav>
            <ul>
                <li><a href="../index.html">Proyecto WikiRafa</a></li>
                <li><a href="estudiantes.html">Estudiantes</a></li>
                <li><a href="biografia.html">Biografía</a></li>
                <li><a href="filosofia.html">Filosofía</a></li>
                <li><a href="clubfans.html">Club de Fans</a></li>
                <li><a href="tiendaOnline.html">Tienda Online</a></li>
                <li><a href="marcoPedia.html">MarcoPedia</a></li>
                <li><a href="otrosProyectos.html">Otros Proyectos</a></li>
            </ul>
        </nav>
    </div>
    <div class="main-content">
        <header>
            <img src="../img/Imagenes/Banner_WikiRafa.png" alt="Logo WikiRafa" class="logo">
        </header>
        <section class="about" id="biografia">
            <h2>Rafael Sáez Prado</h2>
            <p>
                Rafael Sáez Prado nació en <a href="https://es.wikipedia.org/wiki/Vigo">Vigo, España</a> el día 14 de mayo de 1976 y no morirá nunca, porque las personas mueren, pero indudablemente es mejor que todos nosotros.
            </p>
            <p>
                Antes de su trabajo como docente (un docente espectacular) trabajó humildemente en una empresa de cementos <a href="https://www.cimpor.com/">Cimpor - Industria de Cementos, S.A.</a>.
            </p>
        </section>
        <section class="about" id="historia">
            <h3>Historia</h3>
            <p>
                Ya todos conocemos a Rafael y muchos de sus logros. De todas formas, contaremos un poco de su historia y cómo logró convertirse en el más grande profesor del <a href="https://g.co/kgs/hxpgvk5">Colegio San Miguel 2</a>, y para qué engañarnos, el más grande de todo el mundo, aunque dada su humildad no le guste admitirlo.
            </p>
        </section>
        <section class="about" id="redes">
            <h3>Redes Sociales</h3>
            <p>
                Rafa inició su camino hacia el estrellato el 3 de enero de 2017, en el que subió a la famosa (no más que él) red social <a href="#">Instagram</a> su primera publicación, en la que nos mostraba un acompañamiento para una de sus comidas.
            </p>
        </section>
        <section class="about" id="logros">
            <h3>Logros Personales</h3>
            <p>
                Rafael indudablemente es un hombre "común" (así es como se identifica de forma humilde y coloquial) que a lo largo del tiempo ha logrado unos increíbles triunfos, en este apartado vamos a resaltar una pequeña recopilación de los muchos existentes pasando desde conseguir que sus amados estudiantes pasasen de curso, hasta detener un tren en el deshielo. 
            </p>
            <p>
                Cabe mencionar que TODOS los trofeos y condecoraciones que se encuentran en la entrada del San Miguel 2 han sido gracias a sus habilidades o a la positiva influencia sobre sus alumnos.
            </p>
        </section>
    </div>
</body>
</html>
